.image-carousel {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.image-carousel__content {
  position: relative;
}

.image-carousel__image {
  max-width: 100%;
  height: 400px; /* set a fixed height for the carousel images */
  width: 600px; /* set a fixed width for the carousel images */
  object-fit: cover; /* crop images to fit the dimensions while maintaining aspect ratio */
  display: block;
  margin: 0 auto; /* center images within the container */
}

.image-carousel__selector {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}

.image-carousel__circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  margin: 0 5px;
  cursor: pointer;
}

.image-carousel__circle.active {
  background-color: black;
}

.image-carousel__prev,
.image-carousel__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.image-carousel__prev {
  left: 10px;
}

.image-carousel__next {
  right: 10px;
}
