.carousel {
  position: relative;
  margin-top: 50px;
  overflow: hidden;
  display: flex;
  justify-content: center;
 
}

.image-container {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


.controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.selectors {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.selector {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.selector.selected {
  background-color: rgb(3, 3, 3);
}

.image-carousel__prev,
.image-carousel__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
 
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.image-carousel__prev {
  left: 10px;
}

.image-carousel__next {
  right: 10px;
}

.icon {
  color: #ffffff;
  font-size: 80px;
  
}